{% load static %}
{% for post in articles %}
<div class="col-md-4">
    <div class="courc-card">
        <img src="{{ post.image.url }}" alt="">
        <div class="cource-det">
            <h6>
                <a href="{% url 'article_detail' post.article_id %}" style="color: black; text-decoration: none;">
                    {{ post.title }}
                </a>
            </h6>
            <ul>
                <li><i class="far fa-calendar-plus"></i> {{ post.date }}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
