{% load static %}
<header class="header">

  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center text-white py-2">
          <ul class="inline-list">
            <li>Workers of the world, unite!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="nav container">
    <div class="nav__data">
      <a href="#" class="nav__logo">
        <img src="{% static 'assets/images/palestine-flag-png-38276.png' %}" alt="Logo">
      </a>

      <!-- Mobile toggle button -->
      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li><a href="{% url 'home'%}" class="nav__link" data-i18n="home">Home</a></li>
        <li><a href="{% url 'links'%}" class="nav__link" data-i18n="company">Links</a></li>
        <li><a href="{% url 'articles'%}" class="nav__link" data-i18n="company">Articles</a></li>
        <li><a href="{% url 'contactus'%}" class="nav__link" data-i18n="company">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</header>
