   <!-- ################# Header Starts Here#######################--->
      <!--=============== HEADER ===============-->
      {% load static %}
      <header class="header">
      
      <div class="header-top">
            <div class="container">
                <div class="row">
                   <div class="col-lg-7 col-md-12 left-item">  
                    </div>
                    <div class="col-lg-5 d-none d-lg-block right-item">
                        <ul>
                            <li>  workers of the world , unit !</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
     
      
        <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo">
                  <img src="{% static 'assets/images/palestine-flag-png-38276.png' %}">  
                  
               </a> Gaza Aid Encyclopedia
               
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line nav__burger"></i>
                  <i class="ri-close-line nav__close"></i>
               </div>
            </div>

            <!--=============== NAV MENU    ===============-->
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a href="{% url 'home'%}" class="nav__link" data-i18n="home">Home</a></li>

                  <li><a href="{% url 'links'%}" class="nav__link"  data-i18n="company" >Links</a></li>

                 <li><a href="{% url 'articles'%}" class="nav__link"  data-i18n="company" >Articles</a></li>

                 <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="nav__link"  data-i18n="company" >contact us</a></li>   
                
                 <!--lmao u got rick rolled in 2025-->




              </ul>



            </div>
          
         </nav>
      </header>
