{% load static %}
    {% for link in links %}
    <div class="row-blog row">    
      <div class="col-md-10 vbf mx-auto">
        <div class="blog-card row">
          <div class="col-3 img-cv2">
            {% if link.image %}
              <img src="{{ link.image.url }}" alt="">
            {% else %}
              <img src="{% static 'assets/images/lien utile/default.png' %}" alt="default image">
            {% endif %}
          </div>
          <div class="col-7 setv">
            <h4>{{ link.title }}</h4>
            <p>{{ link.content }}</p>
            <a id="linkfac" href="#" target="_blank" rel="noopener">go to website <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}