{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Title -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>{{ article.title }}</h2>
            <ul>
                <li><a href="{% url 'home'%}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> <a href="{% url 'articles'%}"> Article</a></li>
                <li><i class="fas fa-angle-double-right"></i> {{ article.title }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- Content -->
<div class="popular-cources blogfac">
    <div class="container">
        <div class="formation-title">
            <h2>{{ article.title }}</h2>
        </div>

        <div class="paragform">
            <p>{{ article.content }}</p>
        </div>

        {% if article.image %}
            <img class="paragformimg" src="{{ article.image.url }}" alt="{{ article.titre }}">
        {% else %}
            <img class="paragformimg" src="{% static 'assets/images/default.jpg' %}" alt="Image par défaut">
        {% endif %}
    </div>
</div>

{% endblock %}
