{% extends "base.html" %}
{% load static %}
{% block content %}

  <!--  ************************* Page Title Starts Here ************************** -->

  <div class="page-nav no-margin row">
      <div class="container">
          <div class="row">
              <h2>Links</h2>
              <ul>
                  <li><a href="{% url 'home'%}"><i class="fas fa-home"></i> Home</a></li>
                  <li><i class="fas fa-angle-double-right"></i> Links</li>
              </ul>
          </div>
      </div>
  </div>
  
  <div class="our-blog bb3 pc2">
  <div class="container">

            {% include "includes/linkMin.html" %}
            {% block linkMin %}
            {% endblock %}

  </div>
  </div>



{% endblock %}
